<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<form method="get" action="/answer" data-turbo="false">
  <input type="text" name="question">
  <button type="button" class="btn btn-lg btn-primary" disabled>Ask!</button>
</form>
